.container {
    height:500px;
    width:700px;
    border:1px dashed black;
    font-family:goudy old style;
    margin:auto;
    text-align:center;
    color:#388CD6;
    border-radius:10px;
}

hr {
    width:85%;
    opacity:.5;
}

p {
    font-family:arial;
}

#example {
    color:black;
    font-size:.8em;
    font-family:Times;
    margin-top:100px;
}